:root {
    --color1: #461b6e;
}
/* ? --------- Header --------------- */
header {
    background-color: #c098f5;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    section {
        display: flex;
        width: 40%;
        height: 40px;
        background-color: white;
        overflow: hidden;
        border-radius: 10px;
        padding-left: 20px;
        box-shadow: 4px 3px var(--color1);
    }
    section:hover {
        border: 2px solid var(--color1);
    }
    section:focus-within {
        border: 2px solid var(--color1);
    }
    a {
        color: var(--color1);
    }
}

#searchBar {
    height: 100%;
    width: 100%;
    border: 0px;
    align-content: center;
    font-size: 20px;
    background-color: transparent;
}
#searchBar::placeholder {
    font-size: 20px;
}
#searchBar:focus {
    outline: none;
}

#searchButton {
    height: 100%;
    aspect-ratio: 1;
    border: 0px;
    background-color: #c0b5f3;
}

#searchButton:active {
    background-color: #a091e2;

}

/* ? ------------------------------- */

/* * --------- Main --------------- */

/* * ------------------------------- */